<!doctype html>
<html lang="en" ng-app="movies">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Book it!</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <script src="js/angular.min.js"></script>
    <script src="js/movies.js"></script>
  </head>
<body>
  <header>
    <nav id="header-nav" class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a href="index.html" class="pull-left visible-md visible-lg">
            <!--div id="logo-img"></div-->
          </a>

          <div class="navbar-brand">
            <a href="index.html"><h1>Book It!</h1></a>
          </div>

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable-nav" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        
        <div id="collapsable-nav" class="collapse navbar-collapse">
           <ul id="nav-list" class="nav navbar-nav navbar-right">
            <li>
              <a href="index.html">
                <span class="glyphicon glyphicon-home"></span><br class="hidden-xs"> Home </a>
            </li>
            <li>
              <a href="menu-categories.html">
                <span class="glyphicon glyphicon-camera"></span><br class="hidden-xs"> Movies</a>
            </li>
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-info-sign"></span><br class="hidden-xs"> About</a>
            </li>
            </li>
          </ul><!-- #nav-list -->
        </div><!-- .collapse .navbar-collapse -->
      </div><!-- .container -->
    </nav><!-- #header-nav -->
  </header>

  <div class="container" ng-controller="MoviesController as movies">

    <div id = "moviesdes" class="row" ng-if="movies.login===false && movies.signup===true">

      <div class="container-fluid">
        <h3 style="text-align: center;"> Dont have an account? Sign up here</h3><span><a href="">
          <form class="form-horizontal" action="booking_confirmation.html">
            <div class="form-group">
              <label class="control-label col-sm-2" for="name">Username :</label>
              <div class="col-sm-10">
                <input type="text" ng-model = 'movies.name' class="form-control" id="movie" placeholder="Name">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="a">Password:</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" ng-model = 'movies.password' id="a" placeholder="Movie Name">
              </div>
            </div>
            </form>
        <div style="text-align: center;">
          <button ng-click="movies.signupbutton()">Sign up</button>
        </div>
      </div>

    </div>
    <div id = "moviesdes" class="row" ng-if="movies.login===false && movies.signup===false">
      <div class="container-fluid">
        <h3 style="text-align: center;"> Dont have an account? </h3>
          <div style="text-align: center;"><button style="align-items: center;" ng-click="movies.transfer()">sign up</button></div>
          <form class="form-horizontal" action="booking_confirmation.html">
            <div class="form-group">
              <label class="control-label col-sm-2" for="name">Username :</label>
              <div class="col-sm-10">
                <input type="text" ng-model = 'movies.name' class="form-control" id="movie" placeholder="Name">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="a">Password:</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" ng-model = 'movies.password' id="a" placeholder="Movie Name">
              </div>
            </div>
            </form>
        <div style="text-align: center;">
          <button ng-click="movies.loginbutton()">Sign In</button>
        </div>
      </div>
    </div>
    <div class="row" ng-repeat="item in movies.items" ng-if="movies.login===true && movies.signup==true">
      <div class="col-md-6 col-sm-12">
        <img class="img-responsive" src="{{item.url}}" alt="Oblivion" srcset="">
      </div>
      <div class="col-md-6 col-sm-12">
        <span><h4>Movie name : {{item.movie}}</h4></span><br>
          <span><h4>Ticket Price : {{item.price}}</h4></span><br>
          <span><h4>Screen : {{item.screen}}</h4></span><br>
          <span><h4>Show timings : {{item.show}}</h4></span><br>
          <span><h4>Ticket Available : {{item.ticket}}</h4></span><br>
          <a href="movies_des.html">  
          <button class="align-center" ng-click="movies.setMovie($index)" aria-placeholder="Book Now">BOOK NOW</button>
          </a>
      </div>
    </div>
  </div>  
  
  <footer class="panel-footer">
        <div class="container">
          <div class="row">
            <section id="hours" class="col-sm-4">
              <span>Hours:</span><br>
              Sun-Thurs: 9 am - 10:00pm<br>
              Fri: 11:15am - 2:30pm<br>
              Saturday Closed
              <hr class="visible-xs">
            </section>
            <section id="address" class="col-sm-4">
              <span>Address:</span><br>
              7105 Mount Road<br>
              Chennai 600011
              <hr class="visible-xs">
            </section>
            <section id="testimonials" class="col-sm-4">
              <p>“No good movie is too long and no bad movie is short enough.” “Every great film should seem new every time you see it.” “Art is the closest we can come to understanding how a stranger really feels.” “We live in a box of space and time.</p>
          <p>"Good movies make life better"</p>
            </section>
          </div>
          <div class="text-center">&copy; Book It! cinemas 2020</div>
        </div>
      </footer>

  
  <!-- jQuery (Bootstrap JS plugins depend on it) -->
  <script src="js/jquery-2.1.4.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
